[package]
name = "stubborn-io"
version = "0.1.8"
authors = ["David Raifaizen <d-raif@outlook.com>"]
edition = "2018"
description = "io traits/structs that automatically recover from potential disconnections/interruptions."
license = "MIT"
keywords = ["reconnect", "retry", "stubborn", "io", "StubbornTcpStream"]
repository = "https://github.com/craftytrickster/stubborn-io"
documentation = "https://docs.rs/stubborn-io"
readme = "README.md"
 
[dependencies]
tokio = { version = "0.2", features = ["time", "tcp", "io-util", "dns"] }
bytes = "0.5"
mio = "0.6"
log = "0.4"

[dev-dependencies]
tokio = { version = "0.2", features = ["macros", "rt-core", "fs"] }
tokio-util = { version = "0.2", features = ["codec"] }
futures = "0.3"
